.btn {
	text-align: center;
	border: none;
	font-family: Poppins-SemiBold;
	font-size: 20px;
	border-radius: 40px;
	cursor: pointer;
	transition: all 0.16s ease-in;
}

.btn-primary {
	padding: 15px 60px;
	background-color: var(--primary-color);
	color: #fff;
}

.btn-primary:hover {
	background: none;
	color: #000;
	box-shadow: 0 0 0 2px rgba(80, 80, 80, .5);
}

.btn-sencondary:hover {
	color: #000;
	box-shadow: 0 0 0 2px rgba(80, 80, 80, .5);
}

.btn-sencondary {
	padding: 15px 60px;
	background-color: var(--secondary-color);
	font-family: Poppins-SemiBold;
	transition: all 0.16s ease-in;
}

.btn-cta-ins {
	padding: 2px 7px;
	width: fit-content;
	background-color: green;
	border-radius: 7px;
	font-size: 15px;
	color: #fff;
}

.btn-cta-des {
	padding: 2px 7px;
	width: fit-content;
	background-color: blue;
	border-radius: 7px;
	font-size: 15px;
	color: #fff;
}

.btn-cta-remove {
	padding: 2px 7px;
	width: fit-content;
	background-color: red;
	border-radius: 7px;
	font-size: 15px;
	color: #fff;
}
