.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 30px;
}

.form-control {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.add-product-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.add-product-infor {
	flex-basis: 80%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	/* justify-content: center; */
}

.add-product-img {
	margin: 0 auto;
	height: 200px;
	width: 200px;
}

.input-text,
.add-desc-ta,
.category-select,
.ingerdient-checkbox {
	font-family: Poppins-SemiBold;
}

.form-control .add-desc-ta {
	max-height: 100px;
	border: 2px solid var(--gray-color);
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
}

.form-control .add-desc-ta:focus {
	outline: 0;
	border-color: #777;

}

.form-control .input-text {
	border: 2px solid var(--gray-color);
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
}

.form-control .input-text:focus {
	outline: 0;
	border-color: #777;

}

.form-control .category-select {
	border: 2px solid var(--gray-color);
	border-radius: 4px;
	width: 100%;
	padding: 10px;
	font-size: 14px;
}

.form-control .category-select:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success .input-text {
	border-color: var(--gray-color);
}

.form-control.error .input-text {
	border-color: var(--error-color);
}

.form-control.success .add-desc-ta {
	border-color: var(--gray-color);
}

.form-control.error .add-desc-ta {
	border-color: var(--error-color);
}

.form-control small {
	color: var(--error-color);
	display: none;
}

.form-control.error small {
	display: block;
}

.cta-add-product {
	width: 80%;
	align-self: center;
}


.category-option {
	font: 14px;
}

.form-control.success input {
	border-color: var(--succes-color);
}

.form-control.error {
	border-color: var(--error-color);
}
