.item-container {
	display: flex;
	gap: 20px;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	gap: 30px;
	cursor: pointer;
}

.item-list {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 20px;
}

.item-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	word-break: break-word;
}

.item-img {
	height: 170px;
	border-radius: 20px;
}

.item-name {
	font-family: Poppins-SemiBold;
	font-size: 22px;
	word-break: break-word;
}

.item-des {
	color: #c2bbb9;
	font-family: Poppins-Light;
	font-size: 16px;
	font-weight: 600;
	word-break: break-word;
}

.item-price {
	font-family: Poppins-Bold;
	font-size: 30px;
}

.hidden {
	display: none;
}

.note-list {
	display: flex;
	gap: 5px;
}

.item-note {
	display: none;
	justify-content: space-between;
	gap: 10px;
}

.note-title{
	font-family: Poppins-SemiBold;
	font-size: 20px;
	margin-bottom: 10px;
}

.note-option {
	height: 45px;
	width: 45px;
	padding: 5px;
	border-radius: 50%;
	background-color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #c2bbb9;
	font-family: Poppins-Light;
	font-size: 16px;
	font-weight: 600;
	word-break: break-word;
}

.option-selected{
	border: 2px solid var(--primary-color);
	color: #835b4c;
	height: 43px;
	width: 43px;
}

#cta-add{
	display: none;
}
