.modal {
	display: none;		position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 30px;
	border: 1px solid #888;
	border-radius: 24px;
	width: 50%;
	word-break: break-word;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-item-content {
	display: flex;
	flex-direction: row;
}

.modal-item-info {
	display: flex;
	flex-direction: column;
	padding: 40px 20px 40px 40px;
	justify-content: space-between;
}

.modal-item-image {
	height: 400px;
	width: 400px;
	border-radius: 24px;
}

.modal-title {
	font-family: Poppins-SemiBold;
	font-size: 20px;
}

.modal-item-name {
	font-family: Poppins-SemiBold;
	font-size: 25px;
}

.modal-item-des {
	color: #c2bbb9;
	font-family: Poppins-Light;
	font-size: 23px;
	font-weight: 600;
}

.modal-item-price {
	font-family: Poppins-Bold;
	font-size: 35px;
}
