.product-container {
	display: flex;
	gap: 20px;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	gap: 30px;
	cursor: pointer;
}

.product-list {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
	row-gap: 20px;
}

.product-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	word-break: break-word;
}

.product-img {
	height: 150px;
	width: 150px;
	border-radius: 20px;
}

.product-name {
	font-family: Poppins-SemiBold;
	font-size: 22px;
	word-break: break-word;
}

.product-des {
	color: #c2bbb9;
	font-family: Poppins-Light;
	font-size: 16px;
	font-weight: 600;
	word-break: break-word;
}

.product-price {
	font-family: Poppins-Bold;
	font-size: 30px;
}

.hidden {
	display: none;
}

.note-list {
	display: flex;
	gap: 5px;
}

.product-note {
	display: none;
	justify-content: space-between;
	gap: 10px;
}

.note-title {
	font-family: Poppins-SemiBold;
	font-size: 20px;
	margin-bottom: 10px;
}

.note-option {
	height: 45px;
	width: 45px;
	padding: 5px;
	border-radius: 50%;
	background-color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #c2bbb9;
	font-family: Poppins-Light;
	font-size: 16px;
	font-weight: 600;
	word-break: break-word;
}

.option-selected {
	border: 1px solid var(--primary-color);
	color: #835b4c;
	height: 44px;
	width: 44px;
}

#cta-add {
	display: none;
}
